<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forloopers.studymuffin" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:appCategory="game"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">
        <activity
            android:name="com.forloopers.studymuffin.CourseActivity"
            android:exported="false" />
        <activity
            android:name="com.forloopers.studymuffin.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.forloopers.studymuffin.MainActivity" />
        <activity android:name="com.forloopers.studymuffin.NoteActivity" />
        <activity android:name="com.forloopers.studymuffin.RegisterActivity" />
        <activity android:name="com.forloopers.studymuffin.TaskActivity" />
        <activity
            android:name="com.forloopers.studymuffin.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.forloopers.studymuffin.AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/GdxTheme">
        </activity>

        <receiver
            android:name="com.forloopers.studymuffin.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
